<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/demo.css" %}">
    <title></title>
  </head>
  <body>
    <h1 class="display-2 font-italic text-center">{{head_msg}}</h1><hr>
    <ul class="list-unstyled display-4 font-italic text-center">
      <li>{{msg1}}</li>
      <li>{{msg2}}</li>
      <li>{{msg3}}</li>
    </ul>
  </body>
</html>
